{% load i18n %}
{% load static %}


<nav class="layout-navbar {{container_class}} navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  {% if not navbar_hide_toggle %}
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
      <i class="icon-base bx bx-menu icon-md"></i>
    </a>
  </div>
  {% endif %}
  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="icon-base bx bx-search icon-22px"></i>
        <input type="text" class="form-control border-0 shadow-none ps-1 ps-sm-2" placeholder="Search..." aria-label="Search...">
      </div>
    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- Place this tag where you want the button to render. -->
      <li class="nav-item lh-1 me-4">
        <a class="github-button" href="https://github.com/" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star Employee Management System on GitHub">Star</a>
      </li>

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            {% if user.employee_profile.profile_picture %}
              <img src="{{ user.employee_profile.profile_picture.url }}" alt class="rounded-circle" />
            {% else %}
              <div class="avatar-initial bg-label-primary rounded-circle">
                {{ user.get_full_name|first|upper|default:user.username|first|upper }}
              </div>
            {% endif %}
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="{% url 'employees:employee_profile' %}">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    {% if user.employee_profile.profile_picture %}
                      <img src="{{ user.employee_profile.profile_picture.url }}" alt class="w-px-40 h-auto rounded-circle" />
                    {% else %}
                      <div class="avatar-initial bg-label-primary rounded-circle w-px-40 h-auto d-flex align-items-center justify-content-center">
                        {{ user.get_full_name|first|upper|default:user.username|first|upper }}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-0">{{ user.get_full_name|default:user.username }}</h6>
                  <small class="text-body-secondary">{% if user.is_superuser %}Superadmin{% else %}Employee{% endif %}</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="dropdown-divider my-1"></div>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'employees:employee_profile' %}">
              <i class="icon-base bx bx-user icon-md me-3"></i><span>My Profile</span>
            </a>
          </li>
          {% if user.is_superuser %}
          <li>
            <a class="dropdown-item" href="{% url 'employees:admin_dashboard' %}">
              <i class="icon-base bx bx-home icon-md me-3"></i><span>Dashboard</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a class="dropdown-item" href="http://127.0.0.1:8000/">
              <i class="icon-base bx bx-home icon-md me-3"></i><span>Back to Main Site</span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider my-1"></div>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'employees:logout' %}">
              <i class="icon-base bx bx-power-off icon-md me-3"></i><span>Log Out</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>
