<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="{{ container_class }}">
    <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        &#169;
        <script>
          document.write(new Date().getFullYear());

        </script>
        , Employee Management System
      </div>
      <div class="d-none d-lg-inline-block">
        <a href="{% url 'employees:admin_dashboard' %}" class="footer-link me-4">Dashboard</a>
        <a href="{% url 'employees:employee_list' %}" class="footer-link me-4">Employees</a>
        <a href="{% url 'employees:attendance_list' %}" class="footer-link me-4">Attendance</a>
        <a href="{% url 'admin:index' %}" class="footer-link me-4" target="_blank">Django Admin</a>
        <a href="https://docs.djangoproject.com/" class="footer-link d-none d-sm-inline-block" target="_blank">Documentation</a>
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->
